<h2 class="home_info">HOME INFORMATION</h2>

<div class="foster_is_home_container">
  <h3>Are you or another adult home during the day?</h3>
  <%= f.radio_button :is_home_during_day, true, id: "is_home_during_day_true" %> 
  <%= f.label :is_home_during_day, "Yes" %>
  <br>
  <%= f.radio_button :is_home_during_day, false, id: "is_home_during_day_false" %>
  <%= f.label :is_home_during_day, "No" %>
</div>

<h4>Tell us about your household</h4>

<%= f.fields_for :homes, Home.new() do |home_attributes| %>
  <%= home_attributes.label :has_fenced_yard do %>
    <%= home_attributes.check_box :has_fenced_yard, value: true %>
    Fenced Yard
  <% end %>

  <%= home_attributes.label :has_children do %>
    <%= home_attributes.check_box :has_children, value: true %>
    Kids
  <% end %>

  <%= home_attributes.label :has_other_adults do %>
    <%= home_attributes.check_box :has_other_adults, value: true %>
    Other Adults
  <% end %>

  <%= home_attributes.label :has_other_dog do %>
    <%= home_attributes.check_box :has_other_dog, value: true %>
    Dog(s)
  <% end %>

  <%= home_attributes.label :has_other_cat do %>
    <%= home_attributes.check_box :has_other_cat, value: true %>
    Cat(s)
  <% end %>
<% end %>

<br />