<h2 class="home_info">HOME INFORMATION</h2>

<div class="person_is_home_container">
      <h3>Are you or another adult home during the day?</h3>
      <%= f.radio_button :is_home_during_day, true, id: "is_home_during_day_true" %> 
      <%= f.label :is_home_during_day, "Yes" %>
      <br>
      <%= f.radio_button :is_home_during_day, false, id: "is_home_during_day_false" %>
      <%= f.label :is_home_during_day, "No" %>
</div>

<h4>Tell us about your household</h4>

<%= f.fields_for :homes, Home.new() do |home_attributes| %>
  <h1>Address</h1>
  <div>          
  <%= home_attributes.label :street %>
  <%= home_attributes.text_field :street%>
  </div>

  <div>
  <%= home_attributes.label :apt %>
  <%= home_attributes.text_field :apt%>   
  </div>

  <div> 
  <%= home_attributes.label :state %>
  <%= home_attributes.text_field :state%>    
  </div>

  <div>      
  <%= home_attributes.label :city %>
  <%= home_attributes.text_field :city%>   
  </div>    

  <div>
  <%= home_attributes.label :zip_code %>
  <%= home_attributes.text_field :zip_code%>
  </div>
        
  <%= home_attributes.check_box :has_fenced_yard, :value => true %>
  <%= home_attributes.label :has_fenced_yard, "Fenced Yard" %>

  <%= home_attributes.check_box :has_children, :value => true  %>
  <%= home_attributes.label :has_children, "Kids" %>

  <%= home_attributes.check_box :has_other_adults, :value => true  %>
  <%= home_attributes.label :has_other_adults, "Other Adults" %>

  <%= home_attributes.check_box :has_other_dog, :value => true  %>
  <%= home_attributes.label :has_other_dog, "Dog(s)" %>

  <%= home_attributes.check_box :has_other_cat, :value => true  %>
  <%= home_attributes.label :has_other_cat, "Cat(s)" %>
  
  <div>
    <%= home_attributes.label :home_type, "Home Type" %>
    <%= home_attributes.select :home_type, options_for_select(Home.home_types.map { |k, _| [k, k] }) %>
  </div>
<% end %>

<br />