<h1>Sign Up</h1>
<%= form_for :signup do |f| %>  
    <%= f.label :email %> <%= f.text_field :email %>

    <h2>HOME INFORMATION</h2>

    <div class="home-during-day-field">
      <%= f.label "Are you or another adult home during the day?" %>
      <br>
      <%= f.radio_button :is_home_during_day, true %> Yes
      <br>
      <%= f.radio_button :is_home_during_day, false %> No
      <p>
    </div>
    
    <%= f.submit "Fetch!" %>
  
<% end %>
