<h1 class="sign_up_title">Sign Up</h1>

<% if @foster.errors.any? %>
  <% @foster.errors.full_messages.each do |message| %>
     <h3><%= message %> </h3>
  <% end %>
<% end %>

<%= form_for @foster, url: signup_path, html: { class: "sign_up_form" } do |f| %>
  <table class="personal_signup_fields">
  <tr class="field">
    <td><%= f.label :full_name %></td>
    <td><%= f.text_field :full_name %></td>
  </tr>
  <tr class="field">
    <td><%= f.label :nick_name %></td>
    <td><%= f.text_field :nick_name %></td>
  </tr>
  <tr class="field">
    <td><%= f.label :email %></td>
    <td><%= f.text_field :email %></td>
  </tr>
  <tr class="field">
    <td><%= f.label :street %></td>
    <td><%= f.text_field :street %></td>
  </tr>
  <tr class="field">
    <td><%= f.label :apt %></td>
    <td><%= f.text_field :apt %></td>
  </tr>
  <tr class="field">
    <td><%= f.label :phone %></td>
    <td><%= f.text_field :phone %></td>
  </tr>
  </table>

  <%= render "home_section", f: f %>
  <%= render "application_section", f: f %>
    <div class="transportation-field">
      <h4><%= f.label :transportation, 'Transportation' %></h4>
      <%= f.select :transportation, options_for_select(Foster.transportations.map {|k, _| [k.humanize.capitalize, k]}) %></h4>
    </div>
  <p>
    <%= f.submit "Fetch!", class: 'sign_up_submit ant-btn-primary' %>
  </p>
<% end %>
