<h1>Sign Up</h1>
<%= form_for :signup do |f| %>  
    <%= f.label :email %> <%= f.text_field :email %>

    <h2>HOME INFORMATION</h2>

    <%= f.label "Are you or another adult home during the day?" %>
    <br>
    <%= f.radio_button :home_during_day?, true %> Yes / working from home
    <br>
    <%= f.radio_button :home_during_day?, false %> No
    <br>
    
    <%= f.submit "Fetch!" %>
  
<% end %>
