<h1 class="sign_up_title">Sign Up</h1>

<%= form_for :foster do |f| %>
    <div class="field">
      <%= f.label :full_name %> <%= f.text_field :full_name %>
    </div>
    <div class="field">
      <%= f.label :nick_name %> <%= f.text_field :nick_name %>
    </div>
    <div class="field">
      <%= f.label :email %> <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :street %> <%= f.text_field :street %>
    </div> 
    <div class="field">
      <%= f.label :apt %> <%= f.text_field :apt %>
    </div>

  <%= f.label :phone %> <%= f.text_field :phone %>
  <h2 class="home_info">HOME INFORMATION</h2>

  <div class="foster_is_home_container">
    <%= f.label "Are you or another adult home during the day?" %>
    <br>
    <%= f.radio_button :is_home_during_day, true, :checked => true %> Yes
    <br>
    <%= f.radio_button :is_home_during_day, false %> No

  </div>
    <%= f.label :phone %> <%= f.text_field :phone %>
    <%= render "home_section", f: f %>
    <%= render "application_section", f: f %>
  
  <%= f.submit "Fetch!", class: 'sign_up_submit' %>
  <!-- form_for @object, html: { multipart: true }, do |f| -->
  <!-- form_for @object, html: { class: "classname" }, do |f| -->
<% end %>
