<h1 class="sign_up_title">Sign Up</h1>

<%= form_for :foster, html: { class: "sign_up_form" } do |f| %>
  <%= f.label :email %> <%= f.text_field :email %>
  <%= f.label :street %> <%= f.text_field :street %>
  <%= f.label :apt %> <%= f.text_field :apt %>

  <%= f.label :phone %> <%= f.text_field :phone %>
  <h2 class="home_info">HOME INFORMATION</h2>

  <div class="foster_is_home_container">
    <%= f.label "Are you or another adult home during the day?" %>
    <br>
    <%= f.radio_button :is_home_during_day, true, :checked => true %> Yes
    <br>
    <%= f.radio_button :is_home_during_day, false %> No

  </div>
  <%= f.submit "Fetch!", class: 'sign_up_submit' %>
<% end %>
