<h1><%= current_person.name %></h1>
<p>Email: <%= current_person.email %></p>
<p> Is home during the day: <%= current_person.is_home_during_day  ? "Yes" : "No" %></p>
<p>Transportation: <%= current_person.transportation %></p>
<p>Address: <%= current_person.street %></p>
<p><%= current_person.apt %></p>
<p>Phone: <%= current_person.phone %></p>
