<!DOCTYPE html>
<html>
  <head>
    <title>ShelterAssist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/antd/4.17.0-alpha.6/antd.compact.min.css" %>
  </head>

  <body>
    <% if flash.keys.any? %>
      <% flash.keys.each do |key| %>
        <p class="flash flash_<%= key %>"><%= flash[key] %></p>
      <% end %>
    <% end %>
    <%= render 'layouts/navigation_links' %>
    <%= yield %>
  </body>
</html>
