<!DOCTYPE html>
<html>
  <head>
    <title>ShelterAssist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/antd/4.17.0-alpha.6/antd.compact.min.css" %>
  </head>

  <body>
    <% if person_signed_in? %>
      <%= render 'layouts/person_menu' %>
      <% if current_person.has_role?(:admin) %>
        <%= render 'layouts/admin_menu' %>
      <% end %>
    <% end %>
    <% if !person_signed_in? %>
      <%= render 'layouts/visitor_menu' %>
    <% end %>
    <% if flash.keys.any? %>
      <% flash.keys.each do |key| %>
      <p class="flash flash_<%= key %>"><%= flash[key] %></p>
      <% end %>
    <% end %>
    <%= yield %>
    <% if !person_signed_in? %>
      <%= render 'layouts/admin_login_menu' %>
    <% end %>
  </body>
</html>
