<!DOCTYPE html>
<html>
  <head>
    <title>ShelterAssist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% if current_person.logged_in? %>
      <%= render 'layouts/person_menu' %>
      <% if current_person.admin? %>
        <%= render 'layouts/admin_menu' %>
      <% end %>
    <% end %>
    <% if !current_person.logged_in? %>
      <%= render 'layouts/visitor_menu' %>
    <% end %>
    <% if flash.keys.any? %>
      <% flash.keys.each do |key| %>
      <p class="flash flash_<%= key %>"><%= flash[key] %></p>
      <% end %>
    <% end %>
    <%= yield %>
    <% if !current_person.logged_in? %>
      <%= render 'layouts/admin_login_menu' %>
    <% end %>
  </body>
</html>
